PORT=4000
NODE_ENV=development
MONGODB_URI=
JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_SECRET_KEY=
STRIPE_SECRET_KEY=
FRONTEND_URL=http://localhost:3000
STRAPI_URL=http://localhost:1337
STRAPI_API_TOKEN=
OPENROUTER_API_KEY=
